<div dojoType="dojox.mobile.ScrollableView" 
	id="cameraSearchCondition" style="width: 100%;">

<form id="cameraConditionForm" name="cameraConditionForm" data-dojo-id="cameraConditionForm">
<div data-dojo-type="dojox/mobile/RoundRect">
	<div data-dojo-type="dojox/mobile/FormLayout">
		<div>
			<label>器材</label>
			<fieldset>
				<input data-dojo-type="dojox.mobile.TextBox" name="name" type=text>
				</input>
			</fieldset>
		</div>
	</div>
</div>
</form>

<div style="text-align: center;">
	<button id="cscSearchBtn" type=button data-dojo-type="dojox.mobile.Button" class="mblButton greyBtn baseBtn normalBtn">
		查询 
	</button>
	<button id="cscResetBtn" type=reset data-dojo-type="dojox.mobile.Button" class="mblButton greyBtn baseBtn normalBtn">
		清空
	</button>
</div>
</div>
