<div dojoType="dojox.mobile.ScrollableView" 
	id="createOrder" style="width: 100%;">

<form name="testForm" id="testForm">
<div class="section-title">订单信息</div>
<div data-dojo-type="dojox/mobile/RoundRect">
	<div data-dojo-type="dojox/mobile/FormLayout">
		<div>
			<label>订单编号</label>
			<fieldset>
				<input id="order_id" data-dojo-type="dojox.mobile.TextBox" type=text name="order_id">
				</input>
			</fieldset>
		</div>
		<div>
			<label>订单来源</label>
			<ul dojoType="dojox.mobile.RoundRectList">
				<li id="companySelect" dojoType="dojox.mobile.ListItem" moveTo="#" transition="slide"
					data-dojo-props='moveToUrl:"js/dojo-1.9.3/app/views/selectlist.html",jsmodule:"js/dojo-1.9.3/app/src/selectlist.js"'></li>
			</ul>
		</div>
		<div>
			<label>Goals</label>
			<fieldset>
				<textarea name="goals" data-dojo-type="dojox.mobile.TextArea" maxLength="100" cols="20"></textarea>
			</fieldset>
		</div>
	</div>
</div>

<div class="section-title">
	Login
</div>
<div data-dojo-type="dojox/mobile/RoundRect">
	<div data-dojo-type="dojox/mobile/FormLayout">
		<div>
			<label>User name*</label>
			<fieldset>
				<input type=text data-dojo-type="dojox.mobile.TextBox" name="username" required>
				</input>
			</fieldset>
		</div>
		<div>
			<label>Password*</label>
			<fieldset>
				<input type=text name="pass" data-dojo-type="dojox.mobile.TextBox">
				</input>
			</fieldset>
		</div>
	</div>
</div>
<div class="section-title">
	Alerts
</div>
<div data-dojo-type="dojox/mobile/RoundRect">
	<div data-dojo-type="dojox/mobile/FormLayout">
		<div>
			<label>Issue alerts for:</label>
			<fielset></fielset>
		</div>
		<div>
			<label>All messages</label>
			<fieldset>
				<input id="alert-all" type=radio name="forwardtype" data-dojo-type="dojox.mobile.RadioButton" value="all">
				</input>
			</fieldset>
		</div>
		<div>
			<label>Urgent messages only</label>
			<fielset>
				<input id="alert-urgent" type=radio name="forwardtype" data-dojo-type="dojox.mobile.RadioButton" checked="true" value="urgent">
				</input>
			</fielset>
		</div>
		<div>
			<label>Audible alerts:</label>
			<fieldset>
				<div id="alertSwitch" data-dojo-type="dojox.mobile.Switch" value="off">
				</div>
			</fieldset>
		</div>
		<div>
			<label>Alert volume</label>
			<fieldset>
				<input id="alertSlider" data-dojo-type="dojox.mobile.Slider" name="alertvolume" min="0" max="100" value="0" style="width:50%;">
				</input>
			</fieldset>
		</div>
	</div>
</div>
<div style="text-align: center;">
	<button id="resetBtn" type=reset data-dojo-type="dojox.mobile.Button" class="mblButton greyBtn baseBtn normalBtn">
		Reset Form
	</button>
</div>
</form>


</div>
