<div dojoType="dojox.mobile.ScrollableView" id="schedule2">

	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/25 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/26 星期二</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/27 星期三</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/25 星期四</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/26 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/27 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/28 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/29 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/6/30 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/7/1 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/7/2 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/7/3 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/7/4 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<span>2014/7/5 星期一</span>
		<div dojoType="dojox.mobile.Switch" value="off" leftLabel="有空" rightLabel="没空" style="float:right;"></div>
	</div>

</div>
