<div id="selectlist" dojoType="dojox.mobile.ScrollableView">
		<ul id="selectlistItems" dojoType="dojox.mobile.RoundRectList" data-dojo-props='select:"single"'>
			<li dojoType="dojox.mobile.ListItem" label="Braveheart"></li>
			<li dojoType="dojox.mobile.ListItem" label="Hellboy"></li>
			<li dojoType="dojox.mobile.ListItem" label="Iron Man"></li>
			<li dojoType="dojox.mobile.ListItem" label="Kill Bill"></li>
			<li dojoType="dojox.mobile.ListItem" label="Rambo"></li>
			<li dojoType="dojox.mobile.ListItem" label="Spider-Man"></li>
			<li dojoType="dojox.mobile.ListItem" label="Terminator"></li>
			<li dojoType="dojox.mobile.ListItem" label="The Dark Knight"></li>
			<li dojoType="dojox.mobile.ListItem" label="Transformers"></li>
			<li dojoType="dojox.mobile.ListItem" label="True Lies"></li>
		</ul>
</div>