<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:property-placeholder location="WEB-INF/conf/system.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="aSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations"
			value="classpath:com/wedding/john/oa/bean/ibatis/*.xml" />
		<property name="typeAliasesPackage" value="com.wedding.john.oa.bean" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.wedding.john.oa.dao" />
		<property name="sqlSessionFactoryBeanName" value="aSqlSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sendMailService" class="com.wedding.john.oa.services.SendMailService"
		init-method="init">
		<property name="mailServerHost" value="${mail.mailServerHost}" />
		<property name="mailServerPort" value="${mail.mailServerPort}" />
		<property name="validate" value="${mail.validate}" />
		<property name="userName" value="${mail.userName}" />
		<property name="password" value="${mail.password}" />
		<property name="fromAddress" value="${mail.fromAddress}" />
		<property name="sendThreadNum" value="${mail.sendThreadNum}" />
		<property name="sendTimeInterval" value="${mail.sendTimeInterval}" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<context:component-scan base-package="com.wedding.john.oa.services" />
</beans>